body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 200px;
    height: 200px;
    background-image: url(images/background.jpg);
    background-size: cover;
}

/* credit for the speech-bubble: https://projects.verou.me/bubbly/ */
.speech-bubble {
    position: relative;
    background: #fa89b3;
    padding: 5px 10px;
    border-radius: 7px;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.2);
    margin: 0 0 6px 0;
    font-size: 14px;
    /* border-color: black; */
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-top-color: #fa89b3;
	border-bottom: 0;
	margin-left: -19px;
	margin-bottom: -10px;
}

#pet-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pet:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.button {
    background: #fcc62e;
    padding: 5px 5px;
    border-radius: 6px;
    border-color: #dfad1f;
    border-width: medium;
}

#food-options {
    /* gap: 12px; */
    border-color: #dfad1f;
    border-width: medium;
    border-style: solid;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.2);
}

.food-item {
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
}

#controls {
    display: flex;
    gap: 10px;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}